.form-element input {
  gap:15px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-element label {
    margin-bottom: 8px;
    font-weight: 500;
}

input{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #fff;
}


input:disabled {
  background-color:rgb(209, 207, 207);
  cursor: not-allowed;
}
