.detail-element{
    display: flex;
    flex-direction: column; 
    
}

.details-body{
    display: flex;
    column-gap: 14%;
    row-gap: 25px;
    flex-wrap: wrap;
    align-items: center;
}

.text-header{
    color: #8B8D9D;
}
.text{
    color: #434552;
    font-weight: bold;
    width:100px;
    overflow-wrap: break-word;
}

.status {
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 0.85rem;
  font-weight: 500;
  text-align: center;
  width: fit-content;
}

.status.active {
  background-color: #c8f7c5;
  color: #2c662d;
}

.status.inactive {
  background-color: #fcdcdc;
  color: #a94442;
}

.status.probation {
  background-color: #fff9c4;
  color: #8a6d3b;
}

.edit-button{
    display: flex;
    width:100%;
    border-radius: 30px;
    font-weight: bolder;
    font-size: large;
    border: transparent;
    background: #EAF9FF;
    align-items: center;
    padding-right: 30px;
}
h3{
  align-content: center;
}

.blue-circle{
    display: flex;
    position: relative; 
}

.pencil{
    position: absolute;
    left:15px; 
    bottom: 17px;
}

.error-body{
  background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin-top: 30px;
    box-shadow: 0px 4px 7px 1px #9D9D9D29;
    text-align: center;
    
}